[package]
name = "pkcs5"
version = "0.3.0" # Also update html_root_url in lib.rs when bumping this
description = """
Pure Rust implementation of Public-Key Cryptography Standards (PKCS) #5:
Password-Based Cryptography Specification Version 2.1 (RFC 8018)
"""
authors = ["RustCrypto Developers"]
license = "Apache-2.0 OR MIT"
edition = "2018"
repository = "https://github.com/RustCrypto/utils/tree/master/pkcs5"
categories = ["cryptography", "data-structures", "encoding", "no-std"]
keywords = ["crypto", "key", "pkcs", "password"]
readme = "README.md"

[dependencies]
der = { version = "0.4", features = ["oid"], path = "../der" }
spki = { version = "0.4", path = "../spki" }

# optional dependencies
aes = { version = "0.7.4", optional = true }
block-modes = { version = "0.8", optional = true, default-features = false }
hmac = { version = "0.11", optional = true, default-features = false }
pbkdf2 = { version = "0.8", optional = true, default-features = false }
scrypt = { version = "0.7", optional = true, default-features = false }
sha2 = { version = "0.9", optional = true, default-features = false }

[dev-dependencies]
hex-literal = "0.3"

[features]
alloc = []
pbes2 = ["aes", "block-modes", "hmac", "pbkdf2", "scrypt", "sha2"]

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
