[package]
name = "pkcs1"
version = "0.2.3" # Also update html_root_url in lib.rs when bumping this
description = """
Pure Rust implementation of Public-Key Cryptography Standards (PKCS) #1:
RSA Cryptography Specifications Version 2.2 (RFC 8017)
"""
authors = ["RustCrypto Developers"]
license = "Apache-2.0 OR MIT"
edition = "2018"
repository = "https://github.com/RustCrypto/utils/tree/master/pkcs1"
categories = ["cryptography", "data-structures", "encoding", "no-std", "parser-implementations"]
keywords = ["crypto", "key", "pem", "pkcs", "rsa"]
readme = "README.md"

[dependencies]
der = { version = "0.4", features = ["bigint", "oid"], path = "../der" }

# optional dependencies
pem-rfc7468 = { version = "0.2", optional = true, path = "../pem-rfc7468" }
zeroize = { version = "1", optional = true, default-features = false, features = ["alloc"] }

[dev-dependencies]
hex-literal = "0.3"

[features]
alloc = ["der/alloc", "zeroize"]
pem = ["alloc", "pem-rfc7468/alloc"]
std = []

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
