[package]
name = "zeroize"
version = "1.9.0-pre"
authors = ["The RustCrypto Project Developers"]
edition = "2024"
rust-version = "1.85"
documentation = "https://docs.rs/zeroize"
readme = "README.md"
repository = "https://github.com/RustCrypto/utils"
license = "Apache-2.0 OR MIT"
keywords = ["memory", "memset", "secure", "volatile", "zero"]
categories = ["cryptography", "memory-management", "no-std", "os"]
description = """
Securely clear secrets from memory with a simple trait built on
stable Rust primitives which guarantee memory is zeroed using an
operation will not be 'optimized away' by the compiler.
Uses a portable pure Rust implementation that works everywhere,
even WASM!
"""

[dependencies]
serde = { version = "1.0", default-features = false, optional = true }
zeroize_derive = { version = "1.4", path = "../zeroize_derive", optional = true }

[features]
default = ["alloc"]
alloc = []
std = ["alloc"]

aarch64 = [] # NOTE: vestigial no-op feature; AArch64 support is always enabled now
derive = ["zeroize_derive"]
simd = [] # NOTE: MSRV 1.72

[lints]
workspace = true

[package.metadata.docs.rs]
all-features = true
