name: cmov

on:
  pull_request:
    paths:
      - ".github/workflows/cmov.yml"
      - "cmov/**"
      - "Cargo.*"
  push:
    branches: master

permissions:
  contents: read

defaults:
  run:
    working-directory: cmov

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

# Cancels CI jobs when new commits are pushed to a PR branch
concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  minimal-versions:
    uses: RustCrypto/actions/.github/workflows/minimal-versions.yml@master
    with:
      working-directory: ${{ github.workflow }}

  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.85.0 # MSRV
          - stable
        target:
          - thumbv7em-none-eabi
          - wasm32-unknown-unknown
    steps:
      - uses: actions/checkout@v6
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}
      - uses: RustCrypto/actions/cargo-hack-install@master
      - run: cargo build --target ${{ matrix.target }}

  test:
    strategy:
      matrix:
        include:
          # 32-bit Linux
          - target: i686-unknown-linux-gnu
            platform: ubuntu-latest
            rust: 1.85.0 # MSRV
            deps: sudo apt update && sudo apt install gcc-multilib

          # 64-bit Linux
          - target: x86_64-unknown-linux-gnu
            platform: ubuntu-latest
            rust: 1.85.0 # MSRV

          # 64-bit Windows
          - target: x86_64-pc-windows-msvc
            platform: windows-latest
            rust: 1.85.0 # MSRV

          # 64-bit macOS
          - target: x86_64-apple-darwin
            platform: macos-latest
            rust: 1.85.0 # MSRV

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v6
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}
      - run: ${{ matrix.deps }}
      - run: cargo test --target ${{ matrix.target }}

  # Test using `cargo careful`
  test-careful:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - run: cargo install cargo-careful
      - run: cargo careful test --all-features

  # Cross-compiled tests
  test-cross:
    strategy:
      matrix:
        include:
          # ARM32
          - target: armv7-unknown-linux-gnueabi
            rust: 1.85.0 # MSRV
          - target: armv7-unknown-linux-gnueabi
            rust: stable # MSRV
          # ARM64
          - target: aarch64-unknown-linux-gnu
            rust: 1.85.0 # MSRV
          - target: aarch64-unknown-linux-gnu
            rust: stable
          # PPC32
          - target: powerpc-unknown-linux-gnu
            rust: 1.85.0 # MSRV
          - target: powerpc-unknown-linux-gnu
            rust: stable
          # RISCV64
          - target: riscv64gc-unknown-linux-gnu
            rust: stable
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: ${{ matrix.target }}
      - uses: RustCrypto/actions/cross-install@master
      - run: cross test --target ${{ matrix.target }}

  # Test using `cargo miri`
  test-miri:
    runs-on: ubuntu-latest
    env:
      MIRIFLAGS: "-Zmiri-symbolic-alignment-check -Zmiri-strict-provenance"
    strategy:
      matrix:
        target:
          - powerpc-unknown-linux-gnu
          - s390x-unknown-linux-gnu
          - x86_64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v6
      - uses: dtolnay/rust-toolchain@nightly
      - run: rustup component add miri && cargo miri setup
      - run: cargo miri test --target ${{ matrix.target }} --all-features --lib
