name: cpubits

on:
  pull_request:
    paths:
      - "cpubits/**"
      - "Cargo.*"
  push:
    branches: master

defaults:
  run:
    working-directory: cpubits

env:
  CARGO_INCREMENTAL: 0
  RUSTFLAGS: "-Dwarnings"

jobs:
  build:
    strategy:
      matrix:
        rust:
          - 1.85 # MSRV
          - stable
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: RustCrypto/actions/cargo-cache@master
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
      - run: cargo test
